.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .button {
    background-color: var(--yellow);
    color: white;
    height: 56px;
    &:hover {
      background-color: var(--yellow);
    }
  }
}
