.container {
  overflow: auto;
  display: flex;
  width: fit-content;
  .wraplist {
    padding: 10px;
    height: fit-content;
    background-color: white;
    border-radius: 4px;
    width: 250px;
  }
  .input {
    input {
      padding: 8px 10px !important;
    }
    margin-bottom: 5px;
    width: 100%;
  }
  .button {
    background-color: var(--blue);
    margin-right: 5px;
    color: white;
    &:hover {
      background-color: var(--blue);
    }
  }
}
