.container {
  background-color: var(--yellow);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
    font-weight: bold;
  }
  a:hover {
    color: lightgrey;
  }
  .title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-weight: bolder;
  }

  .wraplinks {
    display: flex;
    grid-gap: 20px;
  }
}
